process {
  withName: 'NFCORE_RNASEQ:RNASEQ:QUANTIFY_RSEM:RSEM_CALCULATEEXPRESSION' {
    // Use local disk for temporary files to avoid FIFO creation errors on NFS
    scratch = true

    // Explicitly set TMPDIR for tools like STAR that write temporary files
    beforeScript = 'export TMPDIR=/tmp_prova'
    memory = '120GB'
 }
   withName: 'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR' {
    memory = '120 GB'  
    CPU = '12'
   }
}
